.container{
    
    width: auto;
    height: auto;
    margin: 30px 20px;
}

.Title{
    text-align: center;
}


.card{
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-bottom: 20px;
}



/* Desktop screens */
/* Desktop screens */
@media (min-width: 1024px) {
    .body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 250px;
        gap: 30px;
        
    }

    .card {
        flex: 1 0 30%; /* grow | shrink | basis */
        margin: 10px;
        max-width: calc(33.33% - 50px);
    }

    
}