.images{
    width:100%;
    height: 20rem;
    
    
   
}

.card > button{
    display: block;
    margin: auto;
    color: red;
    background-color: white;
    border-color: aquamarine;
    width: 15rem;
    
}

